<table class="peeps-table">
  <th>Latest peeps:</th>
  <% @last_ten_peeps.each_with_index do |peep, i| %>
    <% user = User.first(id: peep.user_id) %>
    <tr class="peeps-user"><td><%= "#{user.name} (#{user.username}) peeped:" %></td></tr>
    <tr class="peep-text"><td><%= "#{peep.peep_text}" %></td></tr>
    <tr class="peep-time"><td><%= "at #{peep.peep_timestamp.strftime("%H:%M on %A %B %d %Y")}" %></td></tr>
    <tr class="peep-response-link"><td><li>
            <a href="<%= "/peeps/respond/#{peep.id}" %>" value=<%= "respond_#{i}" %>><%= "respond" %></a></li></td></tr>
  <% end %>
</table>
Also link to see older peeps
